In [1]:
a={1,2,3,4}

In [2]:
type(a)

set

In [3]:
#since dictionaries are a prior datastructure, 
a={}
type(a) #an empty set is a dictionary

dict

In [4]:
# to create an empty set, we use set()
a= set()
type(a)

set

In [6]:
a={1,2,3,4}
b={4,5,6,7}
a.intersection(b) # returns the common elements of the set

{4}

In [7]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
a-b

{1, 2, 3}

In [9]:
for i in a: #sets are iterables
    print(i)

1
2
3
4

In [10]:
len(a)

4

In [11]:
a=[1,2,2,2,1,1,1,1,2,2,2,2]
list(set(a))

[1, 2]